* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eff2f5;
}

.header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color:rgb(158, 49, 49);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    border-radius: 15px;
    
}

.header-title {
    font-size: 1.5em;
}

.admin-info {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logout-btn {
    background-color: #007BFF;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.edit-btn {

    color: rgb(91, 139, 221);
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none; /* Removes underline */
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}


.dashboard-section {
    padding-top: 150px;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 20px;
}

/* Glassmorphism effect for dashboard boxes */
.dashboard-box {
    background: rgba(95, 25, 25, 0.2);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

/* Hover effect */
.dashboard-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dashboard-box h2 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333;
}

.control-btn {
    display: block;
    width: 80%;
    margin-top: 10px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.control-btn:hover {
    background-color: #218838;
}